.openzeppelin/
artifacts/
build/
cache/
coverage.json
coverage/
eosio/state.env
node_modules/
scripts/common/log.txt
scripts/deployment/config.js
scripts/common/_artifacts_mainnet
scripts/common/_artifacts_rinkeby
scripts/common/_artifacts_ropsten
scripts/common/_artifacts_sepolia
